*{
    margin: 0;
    padding: 0;
}

body {
    Background : linear-gradient(135deg, #c6c0c087, #746e6e, #2b2a2a) ;
    margin: 0px;    
    padding: 150px;
    display: flex;
font-family: 'poppins' , 'Arial' , 'san-serif';
  
}
.container {
    Background : radial-gradient( circle, #0b3838, #090909) ;
    display: flex;
    background-color : white ;
    width : 80% ;
    margin : 0 auto;
    border-radius: 10px ;
    box-shadow : 1px 10px 10px 10px rgba(0.5, 0.5, 0.5, 0.5) ;

}
/* Left Section */
.left-section {
    background : white ;
color : #f3e4b9 ;
padding :   20px ;
width : 35% ;
text-align : center ;
border-right : 10px solid #f3e4b9 ;

}
.profile-picture {
width : 200px ;
height : 200px ;
margin-top : 10%;
border-radius : 50% ;
border : 6px solid #747575;
box-shadow : 0 0 30px #042929 ;
margin-bottom : 20px ;
}

h1{

    font-size : 27px ;
    margin : 10px 0;
    margin-bottom: 30px;
    text-align: center;
    color: rgb(255, 255, 255) ;
}
 
h3{
    font-size: 19px ;
    padding: 2% ;
    margin : 30px  20px ; 
    color : Black ;
    border-radius : 10px ;
    box-shadow : 0 0 15px #c2911ee6 ;
    margin-top : 5% ;
    margin-bottom : 5% ;
    color : white ;

}
ul{
    list-style-type : fill round ;
    padding : 10px ;
    margin-left : 50px ;
    color: white ;
}

ol{
    list-style-type : lower-roman ;
    padding : 10px ;
    margin-left : 10px ;
    color: rgb(11, 8, 8) 
}

#certification{
    color : black ;
    text-align : center ;
    hyphens : auto  ;
}

.right-section{
    color : white ;
padding :   20px ;
font-size: 18px ;
width: 65% ;

}

button {

    font-family :  'poppins' , 'Arial' , 'sans-serif' ;
    border-radius: 10px ;
    box-shadow: 0 0 15px rgb(229, 104, 104) ;
    cursor: pointer ;
    margin-top: 10px ;
    font-size: 20px ;
}

button:hover {
     background-color: #d3a741e6;
}


